:root {
    --header-bg-color: #fff;
    --text-color: #111517;
    --main-bg-color: #fafafa;
    --item-bg-color: #fff;
    --input-color: #848484;
    --search-color: #fff;
}

@font-face {
    font-family: "Nunito Sans";
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/nunito-sans-v12-latin-300.woff2") format("woff2"), 
    url("../fonts/nunito-sans-v12-latin-300.woff") format("woff"); 
  }

  @font-face {
    font-family: "Nunito Sans";
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/nunito-sans-v12-latin-regular.woff2") format("woff2"),
    url("../fonts/nunito-sans-v12-latin-regular.woff") format("woff");
  }

  @font-face {
    font-family: "Nunito Sans";
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/nunito-sans-v12-latin-600.woff2") format("woff2"), 
    url("../fonts/nunito-sans-v12-latin-600.woff") format("woff");
  }

  @font-face {
    font-family: "Nunito Sans";
    font-weight: 800;
    font-display: swap;
    src: url("../fonts/nunito-sans-v12-latin-800.woff2") format("woff2"), 
    url("../fonts/nunito-sans-v12-latin-800.woff") format("woff");
  }

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", "Arial", sans-serif;
    margin: 0;
}

.container {
    width: 1320px;
    margin: 0 auto;
    padding: 0 20px; 
}

.theme-dark {
    --header-bg-color: #2B3844;
    --text-color: #fff;
    --main-bg-color: #202C36;
    --item-bg-color: #2B3844;
    --input-color: #fff;
    --search-color: #2B3844;
}

header {
    background-color: var(--header-bg-color);
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
    padding: 23px 0;
    transition: background-color 0.3 ease, 0.3 ease;
}

.head-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.head-link {
    color: var(--text-color);
}

.head-btn {
    width: 110px;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-color); 
    background: transparent;
    background-image: url("../images/Path.svg");
    background-position: calc(50% - 45px);
    background-repeat: no-repeat;
    border: none;
    padding-left: 20px;
    cursor: pointer;
}

.theme-dark .head-btn {
    background-image: url("../images/moon-dark.svg");
}

.hero {
    background-color: var(--main-bg-color);
    padding: 48px 0;
    transition: background-color 0.3 ease, 0.3 ease;
}

.hero-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 48px;
}

.hero-inp {
    width: 480px;
    background-image: url("../images/icon-search-black.svg");
    background-color: var(--search-color);
    background-position: calc(50% - 200px);
    background-repeat: no-repeat;
    padding: 18px 74px;
    -webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
            box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    border-radius: 5px;
    border: none;
}

.theme-dark .hero-inp {
    background-image: url("../images/search-dark.svg");
}

.hero-inp::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--input-color);
}

.hero-inp::-moz-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--input-color);
}

.hero-inp:-ms-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--input-color);
}

.hero-inp::-ms-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--input-color);
}

.hero-inp::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--input-color);
}

.hero-slct {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: var(--input-color);
    background: var(--item-bg-color);
    -webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
            box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    border-radius: 5px;
    border: none;
    padding: 18px 24px;
}

.hero-opt {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color);
}

.hero-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.hero-item {
    width: 267px;
    list-style: none;
    background: var(--item-bg-color);
    -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
            box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
    border-radius: 5px;
    padding-bottom: 46px;
}

.hero-item:nth-child(1){
    margin-bottom: 67px;
}

.hero-item:nth-child(2){
    margin: 0 70px;
    margin-bottom: 67px;
}

.hero-item:nth-child(3){
    margin-right: 70px;
    margin-bottom: 67px;
}

.hero-item:nth-child(4){
    margin-bottom: 67px;
}

.hero-item:nth-child(6){
    margin: 0 70px;
}

.hero-item:nth-child(7){
    margin-right: 70px;
}

.hero-title {
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    color: var(--text-color);
    margin-top: 24px;
    margin-bottom: 16px;
    margin-left: 24px;
}

.hero-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--text-color);
    margin-left: 24px;
    margin-bottom: 8px;
}

.hero-span {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: var(--text-color);
}